<p id="notice"><%= notice %></p>

<h1>Imports</h1>

<table class="table table-light">
  <thead>
    <tr>
      <th scope="col">All Imports</th>
    </tr>
  </thead>
  <tbody>
  	<% @imports.each do |import| %>
    <tr>
      <td><%= link_to "#{import.title}", import %></td>
    </tr>
    <% end %>    
  </tbody>
</table>
<div>
	<%= link_to 'Create Import', new_import_path, class: "btn btn-primary" %>
</div>